/* Style the Star Wars Game*/

body {
    background-color: cyan;
}
.character {
    width: 200px;
    /* float: left */
}

.character:hover {
    cursor: pointer;
}

.player-character {
    width: 100%
}

button {
    cursor: pointer;
}